<!DOCTYPE html>
<html>
<head>
  <title>Away We Go</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Krub|Libre+Franklin|Noto+Sans|Open+Sans|Poppins|Raleway">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div data-sticky-container>
    <div class="top-bar sticky grid-x" data-sticky data-options="marginTop: 0" data-sticky-on="small">
    <div class="top-bar-left menu">
      <ul class="dropdown menu">
         <li> <strong> <a href="/"> Away We Go </a> </strong> </li>
      </ul>
    </div>

      <ul class="menu grid-x">
        <%- if current_user -%>
          <%= form_tag(search_users_path, method: :get) do %>
            <li class="cell small-1 medium-3  hide-for-small-only">
              <%= text_field_tag 'query', params[:query], placeholder: 'Find a User' %>
              <%= submit_tag 'Search' %>
            </li>


          <% end %>
        <div>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
          <li><%= link_to 'Sign In', new_user_session_path %> </li>
        <%- end -%>
        </div>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
